@import "../../../../../styles/utils";
@import "../../../../../styles/common";

.bet{
  background: #1e1f25;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  overflow-y: auto;
  .handicap-tabs-box {
    position: relative;
    width: 100%;
    height: 6vh;
    padding: 0 0;
    color: white;
    background: linear-gradient(to bottom, #46475a 0%, #272736 100%);
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    overflow-x:scroll;
      .round {
        font-size: px2vw(14);
        width: 15%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-child(1){
          margin-left: px2vw(10);
        }
        &.active{
          border-bottom: 2px solid #d0b70c;
          font-weight: 700;
        }
      }
  }
  .round{
    .round-tab{
      width: 80%;
      margin: 0 auto;
      padding-top: 10px;
      padding-bottom: 6px;
      color: white;
      .item{
        box-sizing: border-box;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        padding: 3px 0;
        letter-spacing: 1px;
        .text{
          box-sizing: content-box;
          font-size: 14px;
          line-height: 16px;
          padding: 0 10px;
          border-right:1px solid #53678c;
          &:first-child{
            border-left:1px solid #53678c;
          }
        }
      }

    }
  }
  .list{
    width: 90%;
    margin: 0 auto;
    .item{
      color: #fff;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
      display: flex;
      margin-bottom: px2vh(8);
      .table-item{
        width: 100%;
        padding: px2vh(10) px2vw(4);
        @include border-1px(#6f6b34,8px);
        .bet-name{
          width: 80%;
          margin: 0 auto;
          font-size: px2vw(14);
          margin-bottom: px2vh(6);
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .line{
            flex-grow: 1;
            height: 2px;
            background-image: image-set(
                url('../../../../../assets/wodefengexian@2x.png') 2x,
                url('../../../../../assets/wodefengexian@3x.png') 3x
            );
            background-size: cover;
            background-repeat: no-repeat;
          }
          .name{
            padding: 0 px2vw(10);
          }


        }
        .bet-content{
         width: 96%;
          margin: 0 auto;
          .pankou-row{
            width: 48%;
            height: px2vh(46);
            float: left;
            bottom: 0;
            font-size: 0;
            position: relative;
            background-color: #100d12;
            border-radius: 8px;
            margin-bottom: px2vh(4);
            @include border-1px(#6f6b34,8px);
            &:nth-child(even){
              float: right;
              .pankou-name{
                margin-top: px2vh(8.5);
                width: px2vw(50);
                height: px2vh(28);
                line-height: px2vh(28);
                background-color: #4165c1;
                border-radius: 6px;
                float: left;
                margin-left: px2vw(10);
              }
              .pankou-result{
                line-height: px2vh(46);
                float: right;
              }

            }
            span{
              box-sizing: border-box;
              width: 50%;
              vertical-align: middle;
              display: inline-block;
              text-align: center;
              font-size: px2vw(14);
              line-height: px2vh(28);
              position: relative;
            }
            .pankou-name{
              width: px2vw(50);
              height: px2vh(28);
              margin-top: px2vh(8.5);
              line-height: px2vh(28);
              background-color: #BA4142;
              border-radius: 6px;
              float: right;
              margin-right: px2vw(10);
            }
            .pankou-result{
              line-height: px2vh(46);
            }
          }
        }
      }
    }
  }
}


/*箭头动画*/
@-webkit-keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}
