@import "../../../../styles/utils";
@import "../../../../styles/common";
.game-result {
  width: 100%;
  height: 100%;
  background-color: #222;
  .top-fixed{
    @include topHeader(12vh);
    .top-header {
      @include headerNav;
      .back {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        color: white;
      }
      .top-header-main {
        width: 80%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        .header-main-name {
          line-height: 7vh;
          font-size: 2.5vh;
          color: white;
        }
      }
      .info {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        .bet-info{
          width: px2vw(24);
          height: px2vw(24);
          background-image: image-set(
              url('../../../../assets/youxijilu@2x.png') 2x,
              url('../../../../assets/youxijilu@3x.png') 3x
          );
          background-size: contain;
        }
      }
    }
  }
  .game-tabs{
    width: 100%;
    padding:0 px2vw(10);
    height: 6vh;
    @include border-bottom-1px(#444860)
  }
  .main{
    width: 100%;
    padding:0 px2vw(10);
    height: 84vh;
    margin-top: 1vh;
    color: white;

  }
}
