@import "../../../../styles/utils";
@import "../../../../styles/common";
.index {
  animation: slideLeft .3s forwards;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 1px;
  min-width: 100%;
  color: #ffffff;
  background: #1e1f25;
  .top-fixed{
    @include topHeader;
    .top-header {
      @include headerNav;
      .user {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        .user-icon{
          width: px2vw(14);
          height: px2vw(16);
          background-image: image-set(
              url('../../../../assets/gerenzhongxin@2x.png') 2x,
              url('../../../../assets/gerenzhongxin@3x.png') 3x
          );
          background-size: contain;
        }
      }
      .top-header-main {
        width: 80%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        .header-main-name {
          line-height: 5vh;
          font-size: 2.5vh;
          color: white;
        }
      }
      .info {
        width: 10%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: $topHeight;
        .bet-info{
          width: px2vw(20);
          height: px2vw(18);
          background-image: image-set(
              url('../../../../assets/youxijilu@2x.png') 2x,
              url('../../../../assets/youxijilu@3x.png') 3x
          );
          background-size: contain;
        }
      }
    }

  }
  .game-tab {
    position: relative;
    z-index: 0;
    width: 100%;
    font-size: 2vw;
    height: 9vh;
    .game-tab-main {
      padding-top: px2vh(4);
      padding-left: 3.6vw;
      padding-right: 3.6vw;
    }
  }
  .game-result {
    background: #1e1f25;
    position: relative;
    z-index: 0;
    width: 100%;
    margin: 0 auto;
    padding: 0 3.6vw;
    margin-bottom: 1vh;
    font-size: 2vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    .select-event{
      width: 54%;
      border-radius: 4px;
      height: 4vh;
      font-size: px2vh(14);
      line-height: 4.5vh;
      color: #4d4f62;
      background-color: transparent;
      overflow: hidden;
      @include border-1px(#6f6b34);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .left{
        width:16% ;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
          width: px2vw(14);
          height: px2vw(14);
          background-image: image-set(
              url('../../../../assets/shaixuan@2x.png') 2x,
              url('../../../../assets/shaixuan@3x.png') 3x
          );
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .text{
        width: 68%;
        text-align: left;
      }
      .arrow{
        width: 16%;
        background-color: #3a3b4c;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
          width: px2vw(10);
          height: px2vw(7);
          background-image: image-set(
              url('../../../../assets/xialaanniu@2x.png') 2x,
              url('../../../../assets/xialaanniu@3x.png') 3x
          );
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
    .balance{
      width: 40%;
      height: 4vh;
      background-color: #3a3b4c;
      color: #ffca3c;
      font-size: px2vh(14);
      line-height: 4vh;
      text-align: center;
    }
  }
  .main {
    width: 100%;
    position: relative;
    padding: 0 3.6vw;
    .event-loading {
      position: relative;
      width: 100%;
      height: 50px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.user-center{
  height: 100%;
  width: 70vw;
  background-color:#191919;
  font-size: px2vw(16);
  line-height: 2vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  .name{
    width: 100%;
    height: px2vh(36);
    background-color:#1e1f25;
    text-align: center;
    margin-top: px2vh(10);
    margin-bottom: px2vh(10);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .log{
    width: 100%;
    height: px2vh(36);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include border-bottom-1px(#000);
    background-color:#1e1f25 ;
    .left{
      width: 40%;
      padding-left: 5%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .balance{
        width: px2vw(14);
        height: px2vw(16);
        background-image: image-set(
            url('../../../../assets/yue@2x.png') 2x,
            url('../../../../assets/yue@3x.png') 3x
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .zhangbian{
        width: px2vw(14);
        height: px2vw(16);
        background-image: image-set(
            url('../../../../assets/zhangbianjilu@2x.png') 2x,
            url('../../../../assets/zhangbianjilu@3x.png') 3x
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .game-log{
        width: px2vw(14);
        height: px2vw(16);
        background-image: image-set(
            url('../../../../assets/youxidating@2x.png') 2x,
            url('../../../../assets/youxidating@3x.png') 3x
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
      .rules{
        width: px2vw(14);
        height: px2vw(15);
        background-image: image-set(
            url('../../../../assets/guizeshuoming@2x.png') 2x,
            url('../../../../assets/guizeshuoming@3x.png') 3x
        );
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .right{
      width: 10%;
      color: white;
      padding-right: 5%;
    }
  }

}
.modal-game-header{
  color: white;
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include border-bottom-1px(#fff);
  font-size: px2vw(14);
  padding: px2vh(6) px2vw(4) ;
  .game-name{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    .left{

    }
    .right{

    }
  }
  .game-button{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;
    .left{
      width: 48%;
      text-align: center;
      height: px2vh(30);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3e3f6d;
    }
    .right{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48%;
      text-align: center;
      height: px2vh(30);
      background-color: #3a3b4c;
      color: #c2c2c2;
    }
  }
  .game-select{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: px2vh(4);
    height: 5vh;
    .left{

    }
    .right{

    }
  }
}
.modal-all-select{
  width: 86%;
  margin:  0 auto;
  height: 40vh;
  overflow: scroll;
  margin-top: px2vh(6);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: white;
  .line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    width: 100%;
    .left{
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: row;
      .selected{
        display: block;
        width: px2vw(12);
        height: px2vw(12);
        background-color: #3e3f6d;
        border-radius: 50%;
        margin-right: 4px;
        margin-left: 2px;
        &.active{
          background-color:#ff8a00 ;
        }
      }

    }
    .right{

    }
  }

}
.modal-ok{
  width: 86%;
  margin:  0 auto;
  height: 5vh;
  overflow: scroll;
  margin-top: px2vh(6);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: white;
  .button{
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3f6d;
    border-radius: 4px;
  }
}



